/* Created by: Marcus Wehbi
* Created on: May 2022
* This CSS file defines the style for index.html
* ICS2O-Unit4-04-HTML-Museum
*/

body {
	background-color: rgb(198, 240, 240);
}

h1 {
	background-color: rgb(211, 244, 184);
	color: hsl(119, 100%, 20%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #8886f4;
}

div {
	
  font-weight: bold;
  color: #050505;
  margin: 5px;
}

#display-results{
  background-color: #449c5a;
	font-size: 20px;
}
